{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
    {% for user in users %}
        {% if  user.userid == id %}
            <h1>Réinitialisation du mot de passe de l'utilisateur: {{ user.username }}</h1>
        {% endif %}
    {% endfor %}
    <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
    <form method="post">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
        <input type="hidden" name="id" value="{{ id }}">
        <button type="submit" id="valider">
            Valider le mot de passe
        </button>
    </form>
{% endblock %}
